<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Game ON!</h1>
		<h3 class="text-center">Find a game and get notified</h3>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center"><strong>Please Login</strong></h3>

					<div class="panel-body">
						<form id="login-form" role="form">
							<div class="form-group">
								{{!-- <label for="">Username</label> --}}
								<input type="email" class="form-control" id="login-email" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'" required minlength="1" maxlength="80">
								<div id="user-error"></div>
							</div>
								
							<div class="form-group">
								{{!-- <label for="">Password</label> --}}
								<input type="password" class="form-control" id="login-password" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" required minlength="5" maxlength="50">
								<div id="password-error"></div>
							</div>
							<p id="login-incomplete"></p>

							<div class="text-right">
								<button type="submit" class="btn btn-primary btn-md" id="search-btn"><span class="glyphicon glyphicon-user"></span> Submit</button>			
							</div>				
						</form>							
					</div>
					<br>				
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center"><strong>New? Please register</strong></h3>
					<br>
						<button id="register-button" data-toggle="collapse" data-target="#demo" type="submit" class="btn btn-primary btn-md" id="register-btn"><span class="glyphicon glyphicon-user"></span> Register</button>
				</div>
			</div>
		</div>		
	</div>

	<div id="demo" class="collapse">

		<div class="row">
			<div class="col-lg-12"></div>

			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center"><strong>Register</strong></h3>
					</div>

					<div class="panel-body">
						<form  id="register-form" role="form">
						
							<div class="form-group">
								<label for="">First Name</label>
								<input type="text" class="form-control" id="first-name" placeholder="" required minlength="1" maxlength="30">
							</div>

							<div class="form-group">
								<label for="">Last Name</label>
								<input type="text" class="form-control" id="last-name" placeholder="" required minlength="1" maxlength="30">
							</div>

							<div class="form-group">
								<label for="">Email</label>
								<input type="email" class="form-control" id="email" placeholder="" required minlength="1" maxlength="80">
								<p id="form-incomplete"></p>
							</div>

							<div class="form-group">
								<label for="">Password</label>
								<input type="password" class="form-control" id="password" placeholder="" required minlength="5" maxlength="50" onfocus="this.placeholder = 'Password must be at least 5 characters.'">
							</div>

							<div class="form-group">
								<label for="">Mobile Phone</label>
								<input type="tel" class="form-control" id="phone" placeholder="" required minlength="10" maxlength="10">
							</div>

							<div class="form-group">
								<label for="">Gender</label>
								{{!-- <input type="text" class="form-control" id="gender" placeholder="" required minlength="1" maxlength="1" style="text-transform:uppercase"> --}}
                                <select id="inputState" class="form-control">
                                    <option selected disabled="disabled">Choose...</option>             
                                    <option>Male</option>
									<option>Female</option>
									<option>Coed</option>
								</select>
							</div>

							<div class="form-group">
								<label for="">Date of Birth</label>
								<input type="date" class="form-control" id="birthday" placeholder="" required>
							</div>

							<div class="form-group">
								<label for="">City</label>
								<input type="text" class="form-control" id="city" placeholder="" required minlength="1" maxlength="45">
							</div>

							<div class="form-group">
								<label for="">State</label>
								{{!-- <input type="text" class="form-control" id="state" placeholder="" required minlength="2" maxlength="2" style="text-transform:uppercase"> --}}
                                <select id="inputState" class="form-control">
                                    <option selected disabled="disabled">Choose...</option>             
                                    {{#each inputState}}
                                        <option>{{this}}</option>
                                    {{/each}}
								</select>								
							</div>

							<div class="form-group">
								<label for="">Zip Code</label>
								<input type="text" class="form-control" id="zipcode" placeholder="" required pattern="[0-9]{5}" title="Five digit zip code">
							</div>

							<div class="text-right">
								<button type="submit" class="btn btn-primary btn-md" id="add-btn"><span class="glyphicon glyphicon-fire"></span> Register</button>

							</div>

						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

	


	




