<div class="container">
		<div class="jumbotron">
			<h1>Game ON!</h1>
			<!-- <h3>blah blah blah something something tagline</h3> -->
			<hr>
			<!-- <a href="/add" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> Start a game</a> -->
			<a href="start.html" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> Start a game test</a>
			<!-- <a href="/add" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> join a game</a> -->
			<a href="join.html" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> join a game test</a>

			<!-- <a href="/all" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-th-list"></span> All Characters</a> -->
		</div>
</div>